* {
    padding: 0;
    margin: 0;
    border: none;
}

/*********************** Header *********************/
#port_jumbo_main {
    background: linear-gradient(#5CF8FF,#26F6FF);/* Change to some other color */
    padding: 10px;
    margin-bottom: 0;
    
    /* Make text white? */
}

#jumbo_maintext {
   float: right; 
}

#port_image_main > img{
    border-radius: 50%; 
    width: 250px;
    height: 250px;
}

/*********************** Body *********************/

#port-content-main {
    padding: 10px;
}

#port-content-main {
    size: 10pt;
}

#port-content-main > p {
    padding: 5px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#port-content-main-list > ul {
    margin-left: 40px;
    margin-bottom: 0;
}

.card {
    width: 18rem;
}

/*********************** Footer *********************/

#port_copy_bottom {
    margin-bottom: 0;
    height: 60px;  
    background-color: #D8E1E8;
}

#port_copy_text {
    margin-bottom: 0;
    text-align: center;
}

#port_copy_port-pages {
    padding: 0 0 5px 10px;
    background: #D8E1E8;
}