* {
    padding: 0;
    margin: 0;
    border: none;
}
#port_jumbo_main {
    background: linear-gradient(#5CF8FF,#26F6FF);/* Change to some other color */
    padding: 10px;
    margin-bottom: 0;
    
    /* Make text white? */
}

#jumbo_maintext {
   float: right; 
}

#port_image_main > img{
    border-radius: 50%; 
    width: 250px;
    height: 250px;
}

#port-content-main {
    padding: 10px;
}

#port-content-main {
    size: 10pt;
}

#port-content-main > p {
    padding: 5px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#port_copy_bottom {
    margin-bottom: 0;
}