/*  */
* {
    font-family: Tahoma;
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* header */
#cover {
    width:100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 10px;
}

/* navigation */
nav {
    padding:0;
    margin: 0;
    background-color: #FF6559;
    display: block;
    margin-top:-3px;
    height: 64px;
}
nav::after {
    content: "";
    clear: both;
    display: none;
}
.logoText {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    padding-left: 10px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    float: right;
    text-align: center;
}
nav ul li {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding: 13.5px;
    width: auto;
    float: left;
    color: white;
}
nav ul li:hover {
    background-color: green;
    cursor: pointer;
}

/* section */
p {
    padding: 10px;
    font-size: 17px;
}

/* footer */
footer {
    background: grey;
    text-align: center;
    font-size: 10px;
}