* {
    margin: 0;
    padding: 0;
}

.pg_link > a {
    margin:5px;
    padding:5px;
    text-decoration: none;

    color: white;
    background-color: #37ABFF;
    border-radius: 3px;
}

.pg_link > a:hover {
    background-color: #2C78CC;
    
}

.sv_main_one {
    display: inline;
}

.sv_main_two {
    display: block;
}

#sv_section_one {
    padding: 0;
    margin: 5px;
    background: blue;
    height: 350px;

    text-align: center;
}

#sv_section_two {
    padding: 0;
    margin: 5px;
    background: red;
    height: 350px;

    text-align: center;
}

#sv_section_three {
   padding: 0;
    margin: 5px;
    height: 350px;

    background: green;
    
    text-align: center;
}

#sv_section_four {
    padding: 0;
    margin: 5px;
    height: 350px;
    text-align: center;
}

#sv_section_md {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#sv_section_img {
    opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;

  height: 350px;
  width: 50%;
}

#sv_section_txt {
    background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#sv_section_four:hover #sv_section_img {
    opacity: 0.3;
}

#sv_section_four:hover #sv_section_md {
    opacity: 1.0;
}


#sv_section_five {
    margin: 5px;
    background-position: center;
    height: 350px;

    text-align: center;
}

#sv_section_six {
    margin: 5px;
    background: purple;
    height: 350px;

    text-align: center;
}