* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFEADB;
}

/*
    Color set that I like
    https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7,0.60151960784315,0.5311764705882352,1,0.9759803921568658,0.9588235294117646,1,0.9176470588235294,0.8588235294117647,0.4611764705882352,0.6796491228069879,0.7,0.8588235294117647,0.9879699248120125,1&swatchOrder=0,1,2,3,4    
*/

.container {
    max-width: 1200px;
    margin: auto;
}

/*logo*/
.logo {
    text-align: center;
    font-size: 100px;
    color: #76ADB2;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}

/* Navigation */
nav {
    width: 100%;
}

/*Navigation Buttons*/
nav .navButtons {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav .navButtons a {
    text-decoration: none;
    color: #76ADB2;
}

nav .navButtons ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav .navButtons ul li {
    /*float: left;*/
    font-size: 30px;
    color: #76ADB2;
    margin: 0 20px;
    font-weight: bold;
}

nav .navButtons ul li:hover {
    text-decoration: underline;
}

/* Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
}

.textCell {
    max-width: 50%;
    
}

/* Languages icons */

.icon {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 200px;
}