/* general */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1250px) {
    .wrapper {
        width: 100%;
    }
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}
nav a:hover {
    text-decoration: none;
    color: white;
}

footer a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

/* navigation */
nav {
    padding:0;
    margin: 0;
    background-color: #FF6559;
    display: block;
    margin-top:-3px;
    height: 64px;
    width: 100%;
    position: fixed;
}
nav::after {
    content: "";
    clear: both;
    display: none;
}
.logoText {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    padding-left: 10px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    float: right;
    text-align: center;
}
nav ul li {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding: 13.5px;
    width: auto;
    float: left;
    color: white;
}
nav ul li:hover {
    background-color: #FF8478;
    cursor: pointer;
}

/* Nav Toggler */

nav label {
    display: none;
    position: relative;
    color: white;
    font-size: 35px;
    top: 8px;
    float: right;
    right: 23px; 
}

nav #toggle {
    display: none;
}

@media screen and (max-width: 780px) {
    nav label {
        display: block; 
    }
    nav ul {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 64px;
        border-bottom: 1px solid black;
        display: none; 
    }
    nav ul li {
        padding: 10px 0 10px 0;
        margin: 0;
        border-top: 1px solid black;
        display: block;
        width: 100%;
        background-color: #FF6559; }
    nav ul li a:hover {
        text-decoration: none; 
    }
    nav #toggle:checked + ul {
        display: block;
        position: absolute; 
    }
}

/* footer */
footer {
    font-weight: bold;
    background: grey;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 15px;
}