/* Global CSS included */

/* header 
   removed this in the html
*/
#cover {
    width:100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}


/* section */
.topSection {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 930px) {
    .topSection {
        width: 100%;
        margin: 0;
    }
}

.topSection h1 {
    font-size: 100px;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 10px;
    color: #303030;
}

#topImg {
    width: 100%; 
}

.topSection h2 {
    width: auto;
    font-weight: normal;
    padding: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.projectInfo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

