/*  */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1250px) {
    .wrapper {
        width: 100%;
    }
}

/* header 
   removed this in the html
*/
#cover {
    width:100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

/* navigation */
nav {
    padding:0;
    margin: 0;
    background-color: #FF6559;
    display: block;
    margin-top:-3px;
    height: 64px;
}
nav::after {
    content: "";
    clear: both;
    display: none;
}
.logoText {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    padding-left: 10px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    float: right;
    text-align: center;
}
nav ul li {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding: 13.5px;
    width: auto;
    float: left;
    color: white;
}
nav ul li:hover {
    background-color: green;
    cursor: pointer;
}

/* section */
.topSection {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 930px) {
    .topSection {
        width: 100%;
        margin: 0;
    }
}

.topSection h1 {
    font-size: 100px;
    font-weight: normal;
    margin-top: 45px;
    margin-bottom: 10px;
}

#topImg {
    width: 100%; 
}

.topSection h2 {
    width: auto;
    font-weight: normal;
    padding: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.projectInfo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* footer */
footer {
    background: grey;
    text-align: center;
    font-size: 10px;
}