* {
    margin: 0;
    padding: 0;
    border: none;
}

/* added in stuff */

footer p {
    margin: 0;
}

.row {
    padding-top: 75px;
}

/* Icons */
#ph_icon {
     width: 80px;
     height: 80px;
     padding: 5px;
     padding-right: 15px;
}
#m_icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    padding-right: 15px;
}
#c_icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    padding-right: 15px;
}

/* Corporate Information */
#contact_info li {
    list-style: none;
    padding-bottom: 10px;
}

#contact_info {
    padding: 15% 15% 0;
}

.corp_title {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50%;
    margin: 0 auto;
}

/* Page Layout */

.row {
    width: 100%;
    display: flex;
    padding-left: 10px;
}

.column {
    flex: 50%;
}

.corporate {
    padding: 10px;
    padding-right: 5px;
    width: 102%;
}

/* HR Sections */

.hr_section_one > h1 {
    padding: 10px;
}

.hr_section_one {
    border: none;
    width: 98%;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
    color: white;

}

/* Form */

.hr_sub_signup {
    padding: 15px;
}

.form {
    width: auto;
    max-width: 500px;
    padding: 25px;
}
