
#ph_icon {
     width: 80px;
     height: 80px;
     padding: 5px;
}
#m_icon {
    width: 80px;
    height: 80px;
    padding: 5px;
}
#c_icon {
    width: 80px;
    height: 80px;
    padding: 5px;
}

#contact_info li {
    list-style: none;
}
